<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand"><h1>FireBootCamp CRM</h1></a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item" [routerLinkActive]="'active'">
      <a class="nav-link" [routerLink]="['/company/list']">Companies (<span id="company-count">{{companiesCount$ | async }}</span>)</a>
    </li>
    <li class="nav-item" [routerLinkActive]="'active'">
      <a class="nav-link" [routerLink]="['/admin']"> Admin </a>
    </li>
  </ul>
</nav>

 <router-outlet></router-outlet>

